#sidebar{
    background: skyblue;
    width: 200px;
    grid-area: sidebar;
    overflow: y ;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 20px;
}

.sidebar_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 90px;
}
.sidebar_img{
    display: flex;
    align-items: center;
    border-radius: 20px;

}

.sidebar_title > div >img{
    width: 75px;
    height: 30px;
    border-radius: 30px;
    object-fit: contain;
}

.sidebar_title > div > h1{
    font-size: 18px;
    display: inline;
}

.sidebar_title >i{
    font-size: 18px;
    display: none;
}
.sidebar_link{
    color: white;
    padding: 22px;
    border-radius: 3px;
    margin-bottom: 5px;

}


.sidebar_link > a{
   
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.sidebar_link > i{
   
    margin-right: 23px;
    font-size: 18px;
}
.sidebar_logout>button{
    margin-top: 20px;
    padding: 10px;
    color: tomato;
}
.sidebar_logout >button> a{
    color: skyblue;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
}
.sidebar_logout >button> i{
    margin-right: 15px;
    font-size: 25px;
    color: skyblue;
}
#button{
    margin-right: 15px;
    color: skyblue;
    padding:7px ;
    border-radius: 13px  1px 1px 13px;
    background-color: rgb(235, 242, 245);
}



.sidebar_responsive{
    display: inline!important;
    z-index: 999 !important;
    left: 0 !important;
    position: absolute;
}

@media only screen and(max-width:978px){
    #sidebar{
        display: none;
    }

    .sidebar_title > i{
        display: inline;

    }
}